{sub_dirs, []}.

{require_otp_vsn, "R13B04|R14|R15B"}.

{cover_enabled, true}.

%%{erl_opts, []}.
%%{erl_opts, [native]}.
{erl_opts, [debug_info]}.
{xref_checks, [exports_not_used, undefined_function_calls]}.
%% {erl_opts, [debug_info, fail_on_warning, warn_missing_spec]}.

{deps, [
    {uplevel, "0.1.*",	{git, "git@github.com:odo/uplevel.git",
                                {tag, "HEAD"}}},
    {cowboy, "0.5.*",	{git, "git@github.com:extend/cowboy.git",
                                {tag, "HEAD"}}},
  {rfc4627_jsonrpc, "0.01", {git, "git@github.com:odo/erlang-rfc4627", "master"}}
       ]}.
{eunit_compile_opts, [verbose]}.